
*{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    
}
.mainNav_container, .mainNav_items, .mainNav_navList {
    display: flex;
}

.mainNav_container h1{
    font-size: 18px;
    min-height: 10px;
    font-size: 12px;
}

ul.mainNav_navList{
    margin: none;
    padding: unset;
}
.mainNav_navList li{
    list-style: none;
    margin-right: 5px;
    font-size: 10px;

}
.mainNav_container{
    background-color: #f60;
    line-height: 0.2em;
    margin-left: 94px;
    width: 86.7%;
    height:25px; 
}
.main{
    background-color: #f6f6ef;
    max-width: 1060px;
    margin: auto;
    list-style-type: decimal;
    height: 90%;
    padding-top: 20px;
    padding-bottom:40px;
}

.mainNav_navList ul{
    list-style: none;
}


h1{
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
}
hr{
    background-color:#f60;
    height: 0.5px;
}
footer, ul{
    display: flex;
    justify-content: center;
}
footer, li{
    margin-right:5px;
    min-height: 0.2em;
}
form{
    display: flex;
    justify-content: center;
}
ul, li{
    display: flex;
    justify-content: left;
}
ol li{
   margin-bottom: 15px;
}
img{
    margin: 2px;
}

button{
    border: none;
    padding: 0;
    background: none;
    transform:translateX(450px);
}
a:link{
    color: black;
    text-decoration: none;
}
footer{
    background-color: #f6f6f6;
    max-width: 1060px;
    margin: auto;
}
form{
    background-color: #f6f6f6;
    margin: auto;
    max-width: 1060px;
    padding-bottom: 13px;
}
